#container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  height: 4rem;
  width: 20rem;
  background-color: bisque;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}